.project-card-container {
    width: 24%;
    aspect-ratio: 1.4/1;
    position: relative;
    margin-top: 20px;
}

.project-card-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 10px;
}

.project-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.project-title {
    width: 90%;
    margin: auto;
    position: absolute;
    bottom: 5px;
    left: 5px;
}

.project-title h4 {
    color: rgb(16, 16, 16);
    color: white;
    font-size: 1.3rem;
}
