.featured-projects-container {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.featured-projects-text h3 {
    width: 60%;
    font-size: 12rem;
    color: rgb(210, 210, 210);
    font-family: "Six Caps", sans-serif;
    font-weight: 100;
    font-style: unset;
    font-variant: unset;
    line-height: 1;
}

.featured-projects-imgs {
    width: 50%;
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
}

.featured-projects-imgs img {
    height: 100%;
}

@media (max-width: 768px) {
    .featured-projects-container {
        height: unset;
        flex-direction: column;
    }

    .featured-projects-text h3 {
        font-size: 9rem;
        margin-left: 10px;
    }
    .featured-projects-imgs {
        display: none;
    }
}
