.nav-bar {
    height: 50px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    margin: auto;
    top: 1%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    padding: 7px;
    border-radius: 8px;
    background: white;
}
.nav-bar-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    background-color: rgba(255, 255, 255, 0.268);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 5px;
    padding: 7px;
    transition: 0.1s ease-in;
}

.ai {
    color: red;
    font-weight: 900;
    font-size: 1rem;
}

.nav-bar-link:hover {
    color: rgb(16, 16, 16);
    background-color: rgb(204, 204, 204);
}

.navbar-logo img {
    height: 40px;
    cursor: pointer;
}

/* Hide menu toggle on large screens */
.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 2.5rem;
    color: black;
    padding: 5px 5px 0 0;
}

/* Default navigation links */
.nav-links {
    display: flex;
    gap: 15px;
}

.nav-bar-link.active {
    background-color: rgba(169, 169, 169, 0.249);
}

.material-symbols-outlined {
    font-size: 45px; /* Adjust size */
    color: #000000; /* Adjust color */
    vertical-align: middle;
    transition: all 1s ease-out;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav-bar-link {
        font-size: 1.15rem;
        padding: 3px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        width: 250px;
        top: 60px;
        right: 1%;
        background: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .nav-links.open {
        display: flex;
    }
}
